---
import "../styles/plans.css";

const cards = [
  {
    title: "100MB",
    pricebase: ["R$ 90,00*"],
    pricetrue: ["R$ 79,90*"],
    mbps: ["100Mbps"],
    upload: ["30Mbps"],
    link: "#"
  },
  {
    title: "300MB",
    pricebase: ["R$ 100,00*"],
    pricetrue: ["R$ 89,90*"],
    mbps: ["300Mbps"],
    upload: ["90Mbps"],
    link: "#"
  },
  {
    title: "500MB",
    pricebase: ["R$ 120,00*"],
    pricetrue: ["R$ 99,90*"],
    mbps: ["500Mbps"],
    upload: ["150Mbps"],
    link: "#"
  },
  {
    title: "600MB",
    pricebase: ["R$ 150,00*"],
    pricetrue: ["R$ 129,90*"],
    mbps: ["600Mbps"],
    upload: ["150Mbps"],
    link: "#"
  }
];
---

<section class="cards-section">
  <div class="cards">
    {cards.map(card => (
      <div class="card">
        
        <div class="card-top">
          {card.title}
        </div>





        <div class="card-body">
        {card.pricebase.map(pricebase => (
            <p class="pricebase">De {pricebase}</p>
          ))}
        
<p class="beforeprice">Por apenas</p>

        {card.pricetrue.map(pricetrue => (
            <p class="pricetrue">{pricetrue}</p>
          ))}
          
<p class="afterprice">mensais</p>
<p class="card-asterisco">*Para pagamento até um dia antes do vencimento</p>

        {card.mbps.map(mbps => (
            <p class="carddowntag">Até {mbps} de Download</p>
          ))}
        {card.upload.map(upload => (
            <p class="carddowntag">Até {upload} de Upload</p>
          ))}

        </div>

        <a href={card.link} class="card-button">
          <img src="../public/icons/icons8-rocket-64.png" class="card-button-img"/>
          <p>Pré-venda</p>
        </a>

      </div>
    ))}
  </div>
</section>




<script is:client>
  const cards = document.querySelectorAll('.cards');

  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add('show');
      }
    });
  }, {
    threshold: 0.01
  });

  cards.forEach(cards => observer.observe(cards));
</script>